---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Hsinchu&key=<CLIENT_ID>&mode=Train&origins=Taipei
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Hsinchu, East District, Hsinchu City, Taiwan" ],
           "origin_addresses" : [ "Taipei City, Taiwan" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "85.7 km",
                          "value" : 85661
                       },
                       "duration" : {
                          "text" : "1 hour 10 mins",
                          "value" : 4171
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 27 Oct 2016 21:45:26 GMT
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=<CLIENT_ID>&location=Hsinchu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c6912edacd54655ec699615240c3ecea"
    body:
      encoding: UTF-8
      string: '{"metadata":{"geography":{"accuracy":0,"precision":"unknown","country_code":"TW","country":"Taiwan","state_short":"Taiwan
        Province","state":"Taiwan Province","city":"East District","lat":24.8138287,"lng":120.9674798},"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"WlVh5bYq","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"b7152bb9-13a5-49e0-9620-20d5257fd243"},"pagination":{"next_offset":20,"result_count":20},"facets":{"bedrooms":[{"key":10,"value":"10","count":1},{"key":9,"value":"9","count":1},{"key":8,"value":"8","count":1},{"key":7,"value":"7","count":1},{"key":6,"value":"6","count":1},{"key":5,"value":"5","count":1},{"key":4,"value":"4","count":6},{"key":3,"value":"3","count":11},{"key":2,"value":"2","count":16},{"key":1,"value":"1","count":169},{"key":0,"value":"0","count":172}],"bathrooms":[{"key":8,"value":"8.0","count":1},{"key":7.5,"value":"7.5","count":1},{"key":7.0,"value":"7.0","count":1},{"key":6.5,"value":"6.5","count":1},{"key":6.0,"value":"6.0","count":1},{"key":5.5,"value":"5.5","count":1},{"key":5.0,"value":"5.0","count":1},{"key":4.5,"value":"4.5","count":1},{"key":4.0,"value":"4.0","count":3},{"key":3.5,"value":"3.5","count":3},{"key":3.0,"value":"3.0","count":5},{"key":2.5,"value":"2.5","count":7},{"key":2.0,"value":"2.0","count":22},{"key":1.5,"value":"1.5","count":26},{"key":1.0,"value":"1.0","count":167},{"key":0.5,"value":"0.5","count":167},{"key":0.0,"value":"0.0","count":172}],"beds":[{"key":16,"value":"16","count":2},{"key":15,"value":"15","count":2},{"key":14,"value":"14","count":2},{"key":13,"value":"13","count":2},{"key":12,"value":"12","count":3},{"key":11,"value":"11","count":3},{"key":10,"value":"10","count":3},{"key":9,"value":"9","count":3},{"key":8,"value":"8","count":4},{"key":7,"value":"7","count":4},{"key":6,"value":"6","count":7},{"key":5,"value":"5","count":8},{"key":4,"value":"4","count":13},{"key":3,"value":"3","count":19},{"key":2,"value":"2","count":56},{"key":1,"value":"1","count":171},{"key":0,"value":"0","count":172}],"availability":[{"key":"Instant
        Book","value":"Instant Book","count":64}],"room_type":[{"key":"Entire home/apt","value":"Entire
        home/apt","count":59},{"key":"Private room","value":"Private room","count":105},{"key":"Shared
        room","value":"Shared room","count":8}],"property_type_id":[{"key":1,"value":"Apartment","count":78},{"key":2,"value":"House","count":54},{"key":40,"value":"Guesthouse","count":6},{"key":41,"value":"Entire
        Floor","count":2},{"key":3,"value":"Bed & Breakfast","count":9},{"key":37,"value":"Condominium","count":11},{"key":11,"value":"Villa","count":7},{"key":35,"value":"Loft","count":1},{"key":36,"value":"Townhouse","count":1},{"key":9,"value":"Dorm","count":2},{"key":6,"value":"Treehouse","count":1}],"hosting_amenity_ids":[{"key":8,"value":"Kitchen","count":80},{"key":3,"value":"Internet","count":119},{"key":1,"value":"TV","count":128},{"key":40,"value":"Essentials","count":137},{"key":41,"value":"Shampoo","count":147},{"key":30,"value":"Heating","count":58},{"key":5,"value":"Air
        conditioning","count":153},{"key":33,"value":"Washer","count":128},{"key":34,"value":"Dryer","count":42},{"key":9,"value":"Free
        parking on premises","count":60},{"key":4,"value":"Wireless Internet","count":148},{"key":2,"[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Hsinchu&key=<CLIENT_ID>&mode=Train&origins=Taipei
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "Hsinchu, East District, Hsinchu City, Taiwan" ],
           "origin_addresses" : [ "Taipei City, Taiwan" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "85.7 km",
                          "value" : 85661
                       },
                       "duration" : {
                          "text" : "1 hour 10 mins",
                          "value" : 4171
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 27 Oct 2016 21:55:08 GMT
recorded_with: VCR 3.0.3
